---
---

@import "minimal-mistakes";

/* ==========================
   星河草堂 自定义样式
========================== */

body{
    background:#faf8f3;
    color:#222;
    font-family:
        "Noto Serif SC",
        "Source Han Serif SC",
        "Songti SC",
        serif;
}